html,
body {
    margin: 0;
    overflow: hidden;
    height: 100%;
}

canvas {
	background-image: url(images/bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

canvas[resize] {
    width: 1040px;
    height: 232px;
		background-color: #222222;
}